* {
  font-family: "Encode Sans Expanded", "Nanum Gothic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0px;
  height: 100%;
}

h1 {
  font-size: 2rem;
  color: red;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.55rem;
  margin-bottom: 0;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #080808;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.linksList li {
  list-style-type: none;
  font-size: 1.5rem;
}

.linksList li a {
  text-decoration: none;
  color: white;
}

.selected {
  text-decoration: underline;
}

#bannerbox {
  background-color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

#banner {
  max-width: 850px;
  min-width: 850px;
}

.content {
  background-color: white;
  padding: 2rem;
  width: 85%;
  margin: auto;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 340px;
  height: 340px;
  margin: 2rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #080808;
  opacity: 85%;
  align-self: center;
}

#contactBox {
  background-color: RGBA(58, 58, 58, 0.1);
  opacity: 72%;
  color: black;
  border: 1px solid #080808;
  border-radius: 10px;
  padding: 2.5rem;
  margin-top: 1.5rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

label {
  margin-bottom: 0.4rem;
}

#email {
  height: 1.4rem;
  border-radius: 5px;
  border: 1px solid #080808;
}

#notes {
  height: 120px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border: 1px solid #080808;
}

#submit {
  border: 1px solid #080808;
  font-size: 1.1rem;
  height: 2.2rem;
  width: 8rem;
  background-color: white;
  border-radius: 5px;
}

#submit:hover {
  background-color: RGBA(0, 128, 0, 0.4);
  color: white;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #3a3a3a;
}

#footerText {
  font-size: 1.7rem;
  font-family: "Cedarville Cursive", "cursive";
  color: white;
  margin: auto;
}

.page {
  transition: cubic-bezier(1, 0, 0, 1); 
}